{% extends 'base.html' %}
{% block body %}
<br>
<script type="text/javascript">
    function showMessage(){
      alert("Do you want to register?");
    }
    function showMessage2(){
      alert("Do you want to cancel this registration?");
    }
  </script>
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="mt-6 text-center">class:  {{class_details.room_name}}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Description:  {{class_details.subject}} for class {{class_details.standard}}</h5>
                    <p class="card-text text-muted">  {{class_details.description}}</p>
                    {% if user.is_authenticated and class_details not in user.student.classes.all %}
                    <form action="{% url 'cr:register' class_details.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" onCLick=showMessage()>Register</button>
                    </form>
                    {% elif user.is_authenticated and class_details in user.student.classes.all%}
                    <form action="{% url 'cr:register_cancel' class_details.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" onCLick=showMessage2()>Cancel Registration</button>
                    </form>                    <br>
                    {% endif %}
                </div>
               
            </div>
        </div>
    <br>
    <br>
{% endblock %}