{% extends 'base.html' %}
{% block body %}
<br>
{% if classes %}

    {% for each_class in classes %}
    <!-- <div class="row"> -->
        
        <div class="col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <h4 class="mt-6 text-center">Classroom name:  {{each_class.room_name}}</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Description:  {{each_class.subject}} for class {{each_class.standard}}</h5>
                    <p class="card-text text-muted">by  {{each_class.user.username}}</p>
                    <a href="{% url 'cr:class_details' each_class.id %}" class="btn btn-primary">Class Details</a>
                    
                </div>
                
            </div>
        </div>

  {% endfor %}
  
  {% else %}
    No classes
    {% endif %}

{% endblock %}

   