{% extends 'base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<div class="row justify-content-center">
  <div class="col-4">
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <h1 class="mt-6">Login</h1>
    <hr class="mt-5 mb-4">
    <form action="{% url 'student:login_view' %}" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      {% if request.GET.next %}
      <input type="hidden" name="next" value= "{{ request.GET.next }}"/>
      {% endif %}
      <button type="submit" class="btn btn-success">Log in</button>
    </form>
    <p>Don't have an account? SignUp now <a href="{% url 'student:signup_view' %}">Sign Up</a></p>
  
  </div>
  
</div>
  
{% endblock %}